file:
  /usr/bin/go:
    exists: true
    mode: "0777"
    owner: root
    group: root
    linked-to: /usr/local/go/bin/go
    filetype: symlink
  /usr/bin/gofmt:
    exists: true
    mode: "0777"
    owner: root
    group: root
    linked-to: /usr/local/go/bin/gofmt
    filetype: symlink